# BASE DE DATOS Y CONTENEDORES
# IGNORA ARCHIVOS DE PYTHON
**/venv/
__pycache__/
*.pyc
.pytest_cache/

# POSIBLES ARCHIVOS DEL SO
.DS_Store
Thumbs.db
desktop.ini

# CONFIGURACIONES DE EDITORES
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sin
*.swp

# ARCHIVOS TEMPORALES O RESPALDOS
*.tmp
*.bak
*~
